#cssmenu {
	position: relative;
	background: #EEE;
	width: auto;
	font-family: helvetica;
	font-weight: bold;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  background: #EEE;
  width: 100%;
  z-index: 500;
}

#cssmenu > ul li {
	display: inline-block;
	position: relative;
}

#cssmenu > ul li a {
	display: inline-block;
	position: relative;
	padding: 15px 10px 15px 10px;
	min-width: 50px;
	text-align: center;
	color: #777;
	text-decoration: none;
	text-transform: uppercase;
}

#cssmenu > ul li a:hover {
	color: #111;
}]
