#cssmenu {
	position: relative;
	background: #FEFEFE;
	width: auto;
	font-family: helvetica;
	font-weight: bold;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  background: #EEE;
  width: 100%;
  z-index: 500;
}

#cssmenu > ul li {
	display: inline-block;
	position: relative;
	margin-right: -5px;
}

#cssmenu > ul li a {
	display: inline-block;
	position: relative;
	padding: 10px 10px 10px 10px;
	min-width: 50px;
	text-align: center;
	color: #2F344C;
	text-decoration: none;
	text-transform: uppercase;
}

#cssmenu > ul li a:hover {
	background: #DCDCDC;
	color: #0C0C0D;
}

#cssmenu > ul li a:active {
	background: #C0C0C0;
	color: #0C0C0D;
}
