h1,h2,h3,h4,p,a,li {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#wrapper{
	position:relative;
	/*border: 1px solid black;*/
	/*background: #ccc;*/
	height: auto;
	width: 60%;
	border:auto;	
	margin: auto;
}
body{

	font-family: helvetica;
	background-color: #A5A9B4;
	/*background-image: url("img/bg.png");
	background-repeat: no-repeat;*/
	


}

#head{
	width: auto;
	height: 10em;
	background: url("img/logo.png") 5% 7% no-repeat;
	/*background-color: #FFF;*/
}

#mainBox{
	background-color: rgb(214,214,224);
	color: #14161F;
	margin-top: 0px;
	padding: 15px 20px;
	border-radius: 5px;
	overflow:hidden;

}

.pic{
	height: 400px;
	display: block;
	margin: auto;

}
.text{
	display: inline-block;


}
.overskrift{
	font-size: 30px;
	font-family: helvetica;
	margin-bottom: 15px;
}
#link{
	text-align: center;
	text-decoration: none;
	margin-left:50px;
}
#rating{
	position: absolute;
	padding-left: 47%;
	padding-top: 0%;
	display: block;

}

#list{
	font-size: 30px;
	font-family: helvetica;
	text-align: left;
	margin-left: 25%;
	list-style-position: inside;

}

