#wrapper{
	height: 100%;
	width: 60%;
	border:auto;	
	margin: auto;
}
body{
	background-color: black;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	


}
h1 {
	font-size: 80px;
	padding-top: 3.5%;
	text-align: center;
	font-family: helvetica;
}

#head{
	width: auto;
	height: 10em;
	background-image: url("img/logo.jpg");
	background-color: black;
}
#mainBox{
	background-color: #FFF;
	width: auto;
	color: #111;
	height: 75%;
	margin: 0 auto;	
	margin-top: 0px;

}
.pic{
	height: 400px;
	display: block;
	margin: auto;

}
.text{
	font-size: 20px;
	margin-left: 25%;
	margin-right: 25%;
	display: block;


}
.overskrift{
	font-size: 30px;
	text-align: center;
	font-family: helvetica;
}
#link{
	text-align: center;
	text-decoration: none;
	margin-left:50px;
}
#rating{
	position: absolute;
	padding-left: 47%;
	padding-top: 0%;
	display: block;

}

#list{
	font-size: 30px;
	font-family: helvetica;
	text-align: left;
	margin-left: 25%;
	list-style-position: inside;

}

